<!DOCTYPE html>
<html>
<head>
<title>DBMS</title>
<style>
  {% load static %}
body
{
  background: url("http://localhost:9999/fabfour.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.search {
    width: 15em;  height: 3em; 
   margin : 5px 0;
   
 
}
div
{
   font-size:20px;
   width:550px;
   padding-left:500px;
   padding-top:90px;
}
</style>
</head>

<body>

<h1 style ="text-align:center ; color : blue">TENNIS DATABASE</h1>

<div>
<form action="">
<input type="submit" id="search1" value="Players Page" class="search" formaction = "players" style="font-size:20px"/><br>
<input type="submit" id="search2" value="Tournaments" class="search" formaction = "tournaments" style="font-size:20px"/><br>
<input type="submit" id="search3" value="Ranking Page" class="search" formaction = "ranking" style="font-size:20px"/><br>

</div>
</fieldset>
</form>

</body>
</html>
