<!DOCTYPE html>
<html>
<head>
<title>DBMS</title>
<style>
body
{
  background: url(http://localhost:9999/wimbledon.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.search {
    width: 15em;  height: 3em; 
   margin : 5px 0;
   
 
}
div
{
   font-size:20px;
   width:550px;
   padding-left:500px;
   padding-top:90px;
}
</style>
</head>

<body>

<h1 style ="text-align:center ; color : blue">TOURNAMENTS</h1>

<div>
<form action="">
<input type="submit" id="search1" value="Recent Tournaments Result" class="search" formaction = "recentResult" style="font-size:20px"/><br>
<input type="submit" id="search3" value="Search a Player's Result" class="search" formaction = "searchResult" style="font-size:20px"/><br>

</div>
</fieldset>
</form>

</body>
</html>
