<!DOCTYPE html>
<html>
<head>
<title>DBMS</title>
<style>
body
{
  background: url(fabfour.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#search {
    width: 15em;  height: 3em; 
   margin : 5px 0;
   
 
}
div
{
   font-size:20px;
   width:550px;
   padding-left:500px;
   padding-top:90px;
}
</style>
</head>

<body>

<h1 style ="text-align:center ; color : blue">TENNIS DATABASE</h1>

<div>
<form action="">
<input type="submit" id="search" value="Players Page" class="search" formaction = "page address1" style="font-size:20px"/><br>
<input type="submit" id="search" value="Tournaments" class="search" formaction = "page address2" style="font-size:20px"/><br>
<input type="submit" id="search" value="Ranking Page" class="search" formaction = "page address3" style="font-size:20px"/><br>

</div>
</fieldset>
</form>

</body>
</html>
