<!DOCTYPE html>
<html>
<head>
<title>DBMS</title>
<style>
body
{
  background: url(wimbledon.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div
{
   font-size:20px;
   width:550px;
   padding-left:360px;
   padding-top:90px;
}
</style>
</head>

<body>

<h1 style ="padding-top: 20px;text-align:center; color:red;">TOURNAMENTS</h1>

<div>
<form action="">
<fieldset style="border:4px solid black";>
<!--legend ></legend-->
<h4 >Recent Tournament Result</h4<!DOCTYPE html>
<input type="text" size="50" placeholder="Enter the Tournament's name" name="Tourn" autofocus height="20px"><br>
<input type="text" size="50" placeholder="Enter year" name="year" autofocus height="20px"><br>
<input type="submit" value="submit"><br><br>
<h4>Search a player's result</h4<!DOCTYPE html>
<input type="text" size="50" placeholder="Enter a player name" name="player" autofocus height="20px"><br>
<input type="text" size="30" placeholder="Enter the Tournament's name" name="Tour" required><br>
<input type="text" size="30" placeholder="Enter Year" name="year1"><br>
<input type="submit" value="submit"><br><br>

</div
</fieldset>
</form>

</body>
</html>
