<!DOCTYPE html>
<html>
<head>
<title>DBMS</title>
<style>
body
{
  background: url(images1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#search {
    width: 15em;  height: 3em;
   padding-top :20px;
   text-align:center;
   
}
div
{
   font-size:20px;
   width:550px;
   padding-left:360px;
   padding-top:90px;
}
</style>
</head>

<body>

<h1 style ="text-align:center";>RANKNIGS PAGE</h1>

<div>
<form action="">
<fieldset style="border:4px solid black";>
<!--legend ></legend-->
<h4>Individual Rank</h4<!DOCTYPE html><br>
<input type="text" size="50" placeholder="Enter a player name" name="player" autofocus height="20px"><br>
<input type="submit" value="submit"><br><br>
<h4>Player by Rank</h4<!DOCTYPE html><br>
<input type="text" size="50" placeholder="Enter a rank" name="rank" autofocus height="20px"><br>
<input type="submit" value="submit"><br><br>
<input type="submit" id="search" value="Ranking Table" class="search" formaction = "page address" style="font-size:20px; "/>
</div
</fieldset>
</form>

</body>
</html>
